body, pre {
    font-family: "Iosevka Prolog";
}

h1 {
  border-bottom-color: #00007F;
  border-bottom-style: solid;
  border-bottom-width: 10px;
}

textarea, input {
  font-family: "Iosevka Prolog";
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 70svh;
  max-width: 100vw;
  overflow: hidden;
}

#source {
  
}

#execution {
  margin-left: 10px;
  max-width: 100%;
  max-height: 80svh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.output {
  margin-left: 30px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
}


@font-face {
    src: url("iosevka-fixed-slab-regular.woff2") format("woff2");
    font-family: "Iosevka Prolog";
}

#history {
  padding-top: 10px;
  max-height: inherit;
  overflow-y: auto;
  overflow-x: hidden;
}

#result {
  padding-top: 10px;
  border-bottom: 1px solid black;
}

.executing {
    display: none;
}
