body, pre {
    font-family: "Iosevka Prolog";
}

h1 {
  border-bottom-color: #00007F;
  border-bottom-style: solid;
  border-bottom-width: 10px;
}

textarea, input {
  font-family: "Iosevka Prolog";
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 70svh;
}

#source {
  
}

#execution {
  margin-left: 10px;
  max-width: 100%;
  max-height: 80svh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.output {
  margin-left: 30px;
}


@font-face {
    src: url("iosevka-fixed-slab-regular.woff2") format("woff2");
    font-family: "Iosevka Prolog";
}

#history {
  padding-top: 10px;
  max-height: inherit;
  overflow-y: scroll;
}
